<header class="header">
    <div class="header__main">
        <div class="header__logo"><img src="assets/images/logo.png" alt="Furniro Logo" ></div>
        <h1 class="header__title">Furniro</h1>
    </div>
    <nav class="header__Navigation header__Navigation--page">
        <a href="#sample" class="header__link">Home</a>
        <a href="#sample" class="header__link">Shop</a>
        <a href="#sample" class="header__link">About</a>
        <a href="#sample" class="header__link">Contact</a>
    </nav>
     <nav class="header__Navigation header__Navigation--personal">
        <a href="#sample" class="header__link"><img src="assets/images/profile.png" alt="Your profile" ></a>
        <a href="#sample" class="header__link"><img src="assets/images/search.png" alt="Furniro Logo" ></a>
        <a href="#sample" class="header__link"><img src="assets/images/heart.png" alt="Furniro Logo" ></a>
        <a href="#sample" class="header__link"><img src="assets/images/cart.png" alt="Furniro Logo" ></a>
     </nav>
</header>
