@import "styles/main.scss";

footer{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    gap: 3rem; //consistent spacing b/w sections
    column-gap: 5rem;
    padding: 5rem 5rem; //equal left/right spacing
    
    align-items: baseline;
    justify-content: space-between;  

    &__links,
    &__help{
        flex: 0.8; 

    }
    &__address,
    &__newsletter{
        flex: 1.2;
       
    }
    .footer__copyright {
        width: 100%;                 
        margin-top: 2rem;
    }
    
    .footer__links,
    .footer__help,
    .footer__newsletter{
        @include footer_display;
        .footer__headings{
            @include font-text($font-primary,500,16px,$color-text-light);
        }
        .footer__clicks{
            @include font-text($font-primary,700,16px,$color-text-dark);

            &--row{
                display: flex;
                // flex-direction: row;
                align-items: baseline;
                gap: 1rem;

                a{
                    text-decoration: underline;
                    text-underline-offset: 10px;
                    padding:0.9px;
                    color:$color-text-dark;
                }

            }
        }

    }


    .footer__address{
        @include footer_display;
        .footer__headings{
            @include font-text($font-primary,700,24px,$color-text-dark);
        }
        .footer__clicks{
            @include font-text($font-primary,500,16px,$color-text-light);

        }
    }

    .footer__copyright{

        hr{
            width: 100%;
            height: 0;     
            padding: 0;
            color: $color-text-light;
        }

        .certificate{
            @include font-text($font-primary,400,16px,$color-text-dark);
        }

    }

    input{
        border: none;
        outline: none;
        border-bottom: 2px solid #000;
        width: 100%;
        padding: 0.5rem 0;
        font-size: 1rem;
        background: transparent;
    }
    hr{
        width: 100%;
        height: 0;     
        padding: 0;
    }
}



