<footer>
    <section class="footer__address">
        <section class="footer__headings">
            Funiro.
        </section>
        <section class="footer__clicks">
            400 University Drive Suite 200 Coral Gables,FL 33134 USA
        </section>
    </section>

    <section class="footer__links">
        <section class="footer__headings">
            Links
        </section>
        <section class="footer__clicks">
            Home
        </section>
        <section class="footer__clicks">
           Shop
        </section>
        <section class="footer__clicks">About</section>
        <section class="footer__clicks">Contact</section>
    </section>

    <section class="footer__help">
        <section class="footer__headings">Help</section>

        <section class="footer__clicks">Payment Options</section>
        <section class="footer__clicks">Returns</section>
        <section class="footer__clicks">Privacy Policies</section>
    </section>

    <section class="footer__newsletter">
        <section class="footer__headings">Newsletter</section>
        <section class="footer__clicks">
            <input type="email" placeholder="Enter Your Email Address">
            <a href="">SUBSCRIBE</a>
        </section>
    </section>
    <section class="footer__copyright">
        <hr>
        <p class="certificate">2023 furino. All rights reserved</p>

    </section>
</footer>