
//Colors

$color-logo:rgba(184, 142, 47, 1);

$color-bg-light:rgba(244, 245, 247, 1);
$color-bg-white:rgba(255, 255, 255, 1);


$color-bg-secondary:rgba(255, 243, 227, 1);

$color-text-dark:rgba(0, 0, 0, 1);
$color-text-secondary:rgba(51, 51, 51, 1);
$color-text-light:rgba(159, 159, 159, 1);
$color-text-light-dark:rgba(102, 102, 102, 1);
$color-text-highlight:rgba(184, 142, 47, 1);
$color-gray:rgba(58, 58, 58, 1);
$color-gray3:rgba(137,137,137,1);
$color-gray4:rgba(176, 176, 176, 1);

$font-primary:"Poppins";