<section class="product-range">
  <header class="product-range__header">
    <h2 class="product-range__title">Browse The Range</h2>
    <p class="product-range__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
  </header>

  <ul class="product-range__grid">
    <li class="product-range__item">
      <figure class="product-range__figure">
        <img
          class="product-range__image"
          src="assets/images/dining.png"
          alt="Dining furniture"
        />
        <figcaption class="product-range__caption">Dining</figcaption>
      </figure>
    </li>

    <li class="product-range__item">
      <figure class="product-range__figure">
        <img
          class="product-range__image"
          src="assets/images/living.png"
          alt="Living room furniture"
        />
        <figcaption class="product-range__caption">Living</figcaption>
      </figure>
    </li>

    <li class="product-range__item">
      <figure class="product-range__figure">
        <img
          class="product-range__image"
          src="assets/images/bedroom.png"
          alt="Bedroom furniture"
        />
        <figcaption class="product-range__caption">Bedroom</figcaption>
      </figure>
    </li>
  </ul>
</section>
