@import "styles/main.scss";

.product-range {
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: 0 auto;

  /* HEADER — TOP CENTER */
  &__header {
    text-align: center;
    margin-bottom: 3rem;
  }



  &__title {
    @include font-text($font-primary,700,35px,$color-text-secondary);
    margin-bottom: 0.5rem;
  }

  &__description {
    @include font-text($font-primary,400,20px,$color-text-light-dark)
  }

  /* GRID — IMAGES BELOW */
  &__grid {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: flex;
    justify-content: center;
  }

  &__figure {
    text-align: center;
    margin: 0;
  }

  &__image {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 12px;
    display: block;
    margin: 0;
  }

  &__caption {
    @include font-text($font-primary,600,24px,$color-text-secondary);
    margin-top: 1rem;
  }

  /* RESPONSIVE */
  @media (max-width: 900px) {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 600px) {
    &__grid {
      grid-template-columns: 1fr;
    }
  }
}
