<section class="product-preview">
    <header class="product-preview__header">
        <h2 class="product-preview__title">Our Products</h2>
    </header>

    <ul class="product-preview__grid">

        <li class="product-card">
            <figure class="product-card__figure">
        <img
          class="product-card__image"
          src="assets/images/syltherine.png"
          alt="Dining furniture"
        />

        <span class="product-card__badge product-card__badge--discount">-30%</span>

                
            </figure>

            <div class="product-card__content">
                <h3 class="product-card__name">Syltherine</h3>
                <p class="product-card__description">Stylish cafe chair</p>

                <div class="product-card__price">
                    <span class="product-card__price--current">₹25,000</span>
                    <span class="product-card__price--old">₹50,000</span>
                </div>

            </div>
        </li>

        <li class="product-card">
            <figure class="product-card__figure">
        <img
          class="product-card__image"
          src="assets/images/syltherine.png"
          alt="Dining furniture"
        />
            </figure>

            <div class="product-card__content">
                <h3 class="product-card__name">Leviosa</h3>
                <p class="product-card__description">Stylish cafe chair</p>

                <div class="product-card__price">
                    <span class="product-card__price--current">Rp2,50,000</span>
                    <span class="product-card__price--old">Rp50,000</span>
                </div>

            </div>
        </li>

        <li class="product-card">
            <figure class="product-card__figure">
        <img
          class="product-card__image"
          src="assets/images/lolito.png"
          alt="Dining furniture"
        />
        <span class="product-card__badge product-card__badge--discount">-50%</span>

            </figure>

            <div class="product-card__content">
                <h3 class="product-card__name">Lolito</h3>
                <p class="product-card__description">Luxury Big Sofa</p>

                <div class="product-card__price">
                    <span class="product-card__price--current">Rp7,000,000</span>
                    <span class="product-card__price--old">Rp14,000,000</span>
                </div>

            </div>
        </li>

        <li class="product-card">
            <figure class="product-card__figure">
        <img
          class="product-card__image"
          src="assets/images/respira.png"
          alt="Dining furniture"
        />
        <span class="product-card__badge product-card__badge--new">New</span>
            </figure>

            <div class="product-card__content">
                <h3 class="product-card__name">Respira</h3>
                <p class="product-card__description">Outdoor Bar Table and stool</p>

                <div class="product-card__price">
                    <span class="product-card__price--current">Rp500,000</span>
                    
                </div>

            </div>
        </li>


         <li class="product-card">
            <figure class="product-card__figure">
        <img
          class="product-card__image"
          src="assets/images/grifo.png"
          alt="Dining furniture"
        />

        

            </figure>

            <div class="product-card__content">
                <h3 class="product-card__name">Grifo</h3>
                <p class="product-card__description">Night Lamp</p>

                <div class="product-card__price">
                    <span class="product-card__price--current">Rp1,500,000</span>
                    
                </div>

            </div>
        </li>

        <li class="product-card">
            <figure class="product-card__figure">
        <img
          class="product-card__image"
          src="assets/images/muggo.png"
          alt="Dining furniture"
        />

        <span class="product-card__badge product-card__badge--new">New</span>
            </figure>

            <div class="product-card__content">
                <h3 class="product-card__name">Muggo</h3>
                <p class="product-card__description">Small Mug</p>

                <div class="product-card__price">
                    <span class="product-card__price--current">Rp150,000</span>
                    
                </div>

            </div>
        </li>

         <li class="product-card">
            <figure class="product-card__figure">
        <img
          class="product-card__image"
          src="assets/images/pingky.png"
          alt="Dining furniture"
        />
        <span class="product-card__badge product-card__badge--discount">-50%</span>

            </figure>

            <div class="product-card__content">
                <h3 class="product-card__name">Pingky</h3>
                <p class="product-card__description">Cute bed set</p>

                <div class="product-card__price">
                    <span class="product-card__price--current">Rp7,000,000</span>
                    <span class="product-card__price--old">Rp14,000,000</span>

                    
                </div>

            </div>
        </li>

         <li class="product-card">
            <figure class="product-card__figure">
        <img
          class="product-card__image"
          src="assets/images/potty.png"
          alt="Dining furniture"
        />
        <span class="product-card__badge product-card__badge--new">New</span>
            </figure>

            <div class="product-card__content">
                <h3 class="product-card__name">Potty</h3>
                <p class="product-card__description">Minimalist flower pot</p>

                <div class="product-card__price">
                    <span class="product-card__price--current">Rp500,000</span>
                    
                </div>

            </div>
        </li>
    </ul>

    <footer class="product-preview__footer">
        <button>Show More</button>
    </footer>
</section>
