@import "styles/main.scss";
.product-preview {
  padding: 4rem 2rem;
  background: rgba(252, 248, 243, 1);

  &__header {
    @include font-text($font-primary,700,20px,$color-gray);
    text-align: center;
    margin-bottom: 3rem;
  }

  &__grid {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 0;
    margin: 0;
  }

  &__footer{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
   

    button{
        background-color:$color-bg-white;
        width: 235px;
        height: 45px;
        border: 1px solid $color-logo;
        @include font-text($font-primary,500,14px,$color-logo);
    }
  }
}

/* PRODUCT CARD */
.product-card {
  background: $color-bg-light;                
  // border-radius: 12px;
  overflow: hidden;              
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);

  &__figure {
    position: relative;
    margin: 0;                      
  }

  &__image {
    width: 100%;
    display: block;
  }

  &__badge {
    position: absolute;
    top: 12px;
    right: 12px;

    min-width: 10px;
    min-height: 20px;
    height: 20px;
    padding: 0 8px;

    border-radius: 80%; // round badge
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1;
    text-align: center;
  }

  &__badge--new {
    background: #2ecc71;
    color: #fff;
  }

  &__badge--discount {
    background: red;
    color: #f1f1f1;
  }

  &__content {
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
  }

  &__name {
    @include font-text($font-primary,600,20px,$color-gray);
   
  }

  &__description {
    @include font-text($font-primary,500,14px,$color-gray3);
    margin: 0;
  }

  &__price {
    margin-top: 0.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    @include font-text($font-primary,600,14px,$color-gray);

    &--old {
      text-decoration: line-through;
      @include font-text($font-primary,400,13px,$color-gray4);
    }

    &--current {
      font-weight: 600;
    }
  }

 
}
